<div class="row mt-5">
  <div class="col-md-12 col-lg-4 mb-2">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        Upload your scan result
      </div>
      <div class="card-body">
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input inputFile"
              id="inputGroupFile04"
              (change)="upload($event.target)"
            />
            <label class="custom-file-label" for="inputGroupFile04">{{
              fileName
            }}</label>
          </div>
        </div>

        <button
          [disabled]="!csvContent"
          class="btn btn-primary mt-2"
          (click)="createFloorPlan()"
        >
          Floor plan
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-7" style="min-height: 300px;" #plotting>
    <div class="card fixedWidth">
      <div class="card-header bg-secondary text-white">
        Draw here
      </div>
      <div class="progress loading-height" *ngIf="isLoading">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-danger "
          role="progressbar"
          aria-valuenow="100"
          style="width: 100%"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="card-body plotting" #plottingContainer [ngClass]="isLoading? 'disablePlotting': ''">
        <plotting [PlotData]="response"></plotting>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row row-5">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        Here is your scann result
      </div>
      <div class="card-body">
        <div class="overflow-scroll">
          {{ csvContent }}
        </div>
      </div>
    </div>
  </div>
</div> -->
